<div class="row">
  <div class="col">
    <h1>{{ title }}</h1>
  </div>
</div>
<div
  class="btn-group"
  style="display: flex; justify-content: end; margin-bottom: 15px"
>
  <p-button
    *ngIf="title !== 'Create Quiz'"
    label="Delete"
    icon="pi pi-trash"
    styleClass="p-button-md p-button-danger w-100"
    (click)="showDialog()"
  >
  </p-button>
</div>
<form [formGroup]="quizForm" (ngSubmit)="onSubmit()" autocomplete="off">
  <table style="display: flex; flex-wrap: wrap">
    <tr style="margin-bottom: 50px">
      <td>
        <div class="row" id="firstRow">
          <div class="col" style="width: 600px">
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon">
                <i class="pi pi-bookmark-fill"></i>
              </span>
              <input
                type="text"
                id="inputTitle"
                pInputText
                formControlName="title"
                placeholder="Title"
              />
            </div>
          </div>
        </div>
      </td>
      <td class="col" style="width: 1400px">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon">
            <i class="pi pi-align-justify"></i>
          </span>
          <input
            type="text"
            id="description"
            pInputText
            formControlName="description"
            placeholder="Description"
          />
        </div>
      </td>
      <td>
        <p-dropdown
          id="category"
          placeholder="Category"
          [options]="categories"
          formControlName="categoryId"
          optionValue="id"
          optionLabel="name"
        ></p-dropdown>
      </td>
    </tr>

    <div class="row" id="secondRow">
      <tr
        formArrayName="questions"
        *ngFor="let question of getControls(); let i = index"
      >
        <div [formGroupName]="i">
          <td class="col" style="width: 1200px">
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon">
                <i class="pi pi-chevron-left"></i>
              </span>
              <input
                type="text"
                [id]="'front' + i"
                pInputText
                formControlName="front"
                placeholder="Front Side"
              />
            </div>
          </td>
          <td class="col" style="width: 1200px">
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon">
                <i class="pi pi-chevron-right"></i>
              </span>
              <input
                type="text"
                id="back"
                pInputText
                formControlName="back"
                placeholder="Back Side"
              />
            </div>
          </td>
        </div>
      </tr>
    </div>
  </table>
  <div class="buttons" style="display: flex; justify-content: flex-end">
    <p-button
      label="Add new row"
      icon="pi pi-plus"
      styleClass="p-button-sm"
      (click)="addNewRow()"
    ></p-button>
    <p-button
      label="Remove last row"
      icon="pi pi-times"
      styleClass="p-button-sm p-button-danger"
      [style]="{ 'margin-left': '.5em' }"
      (click)="removeRow()"
    ></p-button>
    <p-button
      label="save"
      icon="pi pi-check"
      styleClass=" p-button-sm p-button-success"
      type="submit"
      [style]="{ 'margin-left': '.5em' }"
      [disabled]="!quizForm.valid"
    ></p-button>
  </div>
</form>
<p-toast></p-toast>

<p-dialog header="Header" [(visible)]="visible" [style]="{ width: '50vw' }">
  <ng-template pTemplate="header">
    <span class="text-xl font-bold">Delete quiz</span>
  </ng-template>
  <p>Are you sure you want delete this quiz?</p>
  <br /><br />
  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-check"
      (click)="handleDelete()"
      label="Ok"
      styleClass="p-button-success"
    ></p-button>
    <p-button
      icon="pi pi-times"
      (click)="visible = false"
      label="Cancel"
      styleClass=" p-button-danger"
    ></p-button>
  </ng-template>
</p-dialog>
