<div class="container-fluid" style="margin: 150px">
  <div
    class="card-flip"
    [class.clicked]="flipCard"
    style="font-size: 50px; text-align: center"
    (click)="toggleClick()"
  >
    <div class="front">
      <p class="text-shadow">{{ front }}</p>
    </div>

    <div class="back">
      <p class="text-shadow">
        {{ back }}
      </p>
    </div>
  </div>
  <div class="card">
    <p-progressBar *ngIf="disableButtons" [value]="value"></p-progressBar>
  </div>
</div>
<br />
<div class="buttons" style="display: flex; justify-content: space-between">
  <p-button
    label="Correct"
    icon="pi pi-check"
    styleClass="p-button-success"
    (onClick)="answer(true)"
    [disabled]="disableButtons"
  ></p-button>
  <p-button
    label="Show Answer"
    icon="pi pi-eye"
    styleClass="p-button-secondary"
    (onClick)="toggleClick()"
  ></p-button>
  <p-button
    label="wrong"
    icon="pi pi-times"
    styleClass="p-button-danger"
    (onClick)="answer(false)"
    [disabled]="disableButtons"
  ></p-button>
</div>
