<div class="cards">
  <ng-container
    *ngFor="let quiz of quizList; trackBy: trackByTitle; let i = index"
  >
    <p-card
      header="{{ quiz.title }}"
      subheader="{{ quiz.description }}"
      [style]="{ width: '360px' }"
      [id]="i + 1"
    >
      <ng-template pTemplate="header">
        <img
          alt="Card"
          src="https://primefaces.org/cdn/primeng/images/usercard.png"
        />
      </ng-template>
      <ng-template pTemplate="footer">
        <div
          class="buttons"
          style="display: flex; justify-content: space-between"
        >
          <p-button
            label="Save"
            icon="pi pi-check"
            styleClass="p-button-success"
            (onClick)="play(quiz.id)"
          ></p-button>
          <p-button
            label="Edit"
            icon="pi pi-pencil"
            [routerLink]="['/quiz', quiz.id]"
          ></p-button>
        </div>
      </ng-template>
    </p-card>
  </ng-container>
</div>
